@model ProjektWeb.Models.MovieDetail

@{
    ViewBag.Title = "Details";
}

<h2>Szczegoły</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MovieName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.MovieID }) |
    @Html.ActionLink("Wróć do listy", "Index")
</p>
